@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;  
}

body {
    background-color: #000;
    background-image: url ("background1.png");
   }

.container {
    width: 800px;
    min-height: 800px;
    border: 2px solid gray;
}
