<<<<<<< HEAD
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    background-image: url("background1.png");
    
}





=======
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    background-image: url("D:\devdill DevOps\4Dillon.github.io\images\background1.jpg.png");
>>>>>>> 7ec0ce3cdd959254da06f5b56ddc41a37b56eaf4
=======
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    background-image: url("background1.png");
>>>>>>> eaf8ccc3cdf4f7f8f636622da86679668656572b
